<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAISES SUDAMERICANOS</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>PAISES SUDAMERICANOS</h1>
    <div class="video-info-grid">
     <img class="tamaño" src="IMAGENES/FOTO.jpg" alt="">
     <div>
        <h2>PERU</h2>
        <h2>ECUADOR</h2>
        <h2>COLOMBIA</h2>
        <h2>VENEZUELA</h2>
        <h2>BRASIL</h2>
        <h2>ARGENTINA</h2>
        <h2>CHILE</h2>
        <h2>BOLIVIA</h2>
        <h2>URUGUAY</h2>
        <h2>PARAGUAY</h2>
     </div>
    </div>
    
</body>
</html>